* {
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}


body {
   
  background: linear-gradient(120deg, #d4fc79, #96e6a1); /* Fresh green glow */
  font-family: 'Segoe UI', sans-serif;
   line-height: 1.6rem;
    padding-top: 30px;
    
}

/* Navigation bar */
nav {
    background-color: #333;
    display: flex;
    padding: 4vh;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;




}

.navlist {
    display: flex;
    padding-right: 9vh;


}

.navlist li {
    padding-left: 1rem;
    list-style: none;
    padding-top: 1vh;
    margin-left: 3vh;

}

.navlist a {
   
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    

}
.navlist a::after{
     content: '';
    transform: scaleX(0);
    width: 100%;
    transform-origin: left;
    transition: transform 0.4s ease;
    background-color: hotpink;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    
}

.navlist a:hover::after{
  
    transform: scaleX(1);

}

.container a {
    text-decoration: none;
    font-size: x-large;
    padding: 6vh;
    color: white;
    padding-left: 15vh;
    font-weight: bolder;
    font-family: cursive;
}

/* About section */
.about {

    margin-top: 26vh;
    padding-left: 18vh;
display: flex;
scroll-margin: 100px;

}

.about1 {
    padding-top: 4vh;
    max-width: 50rem;
}

.about h2 {
    font-size: xx-large;


}

.about p {
    font-size: x-large;
}

.logo img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    padding: 4vh;
    margin-left: 15vh;
}

/* Content */

.content {
    margin-top: 12vh;
    scroll-margin: 100px;



}

.content h2 {
    font-size: xx-large;
    padding-left: 18vh;
    padding-top: 4vh;

}

.content1 {
    background-color: white;
    border-left: 4px solid black;
    padding: 15px;
    padding-right: 4vh;
    margin-left: 8vh;
    margin-right: 10vh;
    margin-top: 4vh;
    border-radius: 4vh;

}

.content1 p {
    font-size: x-large;
    padding-left: 2.6rem;
    




}

/* Project  */

.project {
    margin-top: 25vh;
    scroll-margin: 100px;



}

.project h2 {
    font-size: xx-large;
    padding-left: 18vh;
}

.project1 {
    font-size: x-large;
    background-color: white;
    border-left: 4px solid black;
    margin-left: 8vh;
    margin-right: 10vh;
    padding: 20px;
    border-radius: 4vh;
    padding-left: 3rem;
    margin-top:4vh ;



}

.project1 h2 {
    font-size: larger;
    padding-left: 0.1vh;
}

.project2 h2 {
    font-size: larger;
    padding-left: 0.1vh;

}

.project2 {
    font-size: x-large;
    background-color: white;
    border-left: 4px solid black;
    margin-left: 8vh;
    margin-right: 10vh;
    padding: 20px;
    border-radius: 4vh;
    padding-left: 3rem;
    margin-top: 4vh;
}

/* Contact section */

.contact{
    background-color: skyblue;
    margin-top: 20vh;
    margin: 9vh;
    padding: 6vh;
}

.contact h2{
    text-align: center;
    font-size: 35px;

}
.contact-links{
    min-width: 200px;
    flex: 1;
    padding-top: 2vh;
    font-size: 1.6rem;
    margin-top: 4vh;
    margin-left: 3vh;
}

.contact-container{
        display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    align-items: flex-start;


}

.contact-icons{
    margin-top: 4vh;
    font-size: 25px;

}

.contact-icons a{
    color: darkblue;
    margin-right: 15px;
}
.contact-icons a:hover{
    color: gray;
    transition: 0.2s;
}

.contact-form{
    display: flex;
    flex-direction: column;
    margin: 4vh;
    padding: 5vh;

  
}
.contact-form input,
.contact-form textarea{
    padding: 2vh;
    margin: 1vh;
    width: 100%;

}





/* Testimonials */
.testimon{
  margin-top: 15vh;
  scroll-margin: 100px;

}

.testimon h2{
    font-size: xx-large;
    padding-left: 16vh;
}
.testimon1 p{
    margin-top: 3vh;
    font-size: x-large;
    padding-left: 2rem;
    border-left: 4px solid black;
    border-radius: 8px;
    margin-left: 10vh;
    margin-right: 14vh;
    padding:30px;
    background-color: white;
}

  

/* Footer section */
.footer {
    background-color: #333;
    text-align: center;
    margin-top: 9vh;
    padding: 15px;
}

.footer p {
    font-size: x-large;
    color: white;
}

.footer2 p a{
    text-decoration: none;
}

.footer a {
    color: hotpink;

}
@media(max-width:775px){
    .about1{ 
        display: none;
    }

    .about1 .kp {
        margin-top: 30px;
    }

    .logo img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    padding: 4vh;
    margin-left: 0;
}

}